/* PC  */

@media (min-width: 64em) {

}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {

}

/* PC & Tablet */

@media (min-width: 46.25em) {
    #mobile-menu{ 
        display: none;
    }
}

/* Mobile & Tablet */

@media (max-width: 63.9375em) {
    .btn {
        padding: 15px 16px;
    }
    .contact-form .form-control {
        padding: 15px;
    }

    .socials-list {
        font-size: 48px;
    }

    .socials-list a {
        margin: 0 8px;
    }

    .copy-right a{
        padding: 4px 0;
        display: inline-block;
    }
    .contact-infor {
        line-height: 2;
    }
}

/* MOBILE  */
@media (max-width: 46.187em) {

    .s-col-full,
    .s-full-width{
        width: 100% !important;
    }

 

    .s-mt-8 {
        margin-top: 8px !important; 
    }
    #nav {
        display: block;
    }

    #nav > li{
        display: block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    /*line-height khoảng 1.4 foreign vs 1.6 vietnam - ngón tay user khoảng min: 41px*/

    #nav .subnav a {
        color: #fff;
        padding: 4px 41px;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #header {
        overflow: hidden;
    }
    #header .search-btn {
        display: none;
    }

    #content .member-img{
        width: 60%;
    }

    .contact-form{ 
        margin-top: 32px;
    }

    .form-control {
        font-size: 16px;
    }

    .contact-submit-btn{
        font-size: 17px;
    }
}